<header class="jumbotron subhead" id="overview">
	<h1>Thank You For Annotating!</h1>
	<p class="lead">You've ended your annotation session</p>
	<p>
		Thank you for participating in our experiment. If you are performing this task as a MTurk user, the following MD5 hash has been generated for you.
		Username: <h3><%= @signout_username %></h3>
		MD5 Hash: <h3><%= @signout_md5 %></h3>
	</p>
</header>