<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
<h1>About</h1>
<p class="lead">This project aims to improve the reading experience of scientific papers</p>
</header>

<!-- Statement -->
<div class="content">
<h1>Our Statement</h1>
<p>
<p>We hereby state that this data gathering session is conducted sorely for the purpose for a research study related to the citations in scholarly research papers. The data will be collected, and only be used for our research study. These annotations, as part of our research project, will be used to develop a tool that will hopefully make reading such research papers an easier task.</p>
</div>

<!-- Purpose -->
<div class="content">
<h1>Purpose <small>Why are we doing this?</small></h1>
<p>
<p>To cite previously published research papers is a necessary and common practice among researchers. It gives credit and acknowledgement to those who did significant amount of work in that research area, and more importantly, to obey the laws of intellectual property. In our project, we aim to facilitate the ease of reading research papers. Often when readers are reading a paper, they see citation made by the authors of the paper. Readers would find it helpful if he/she can find out more about the cited paper. This will facilitate understanding of the ideas discussed by the current paper the reader is reading. The end-product of this project would be an application that provides a reader the ability to briefly refer to the cited paper, and display the specific paragraph (if any) by highlighting the text. Our application would include a machine learner component. For that, this machine learner would need gold standard annotations, in other words, human annotations, as the training dataset so that the learner that “learn” from these human annotated instances. This is why we seek the help of participants to generate gold standard annotations.</p>
</div>