<!-- Citation -->
<header class="jumbotron subhead" id="overview">
	<h1>Citation</h1>
	<p class="lead">What is a citation?</p>
</header>
<div class="row">
	<div class="span4">
		<p>A citation is a quotation from or reference to a book, paper, or author. We cite when we want to:</p>
		<ul>
			<li>Make reference to a particular work by another author</li>
			<li>Give credit / Acknowledge contributions made by another author</li>
		</ul>
		<h3>Example</h3>
		<p>Let's look at the example on the right. The first thumbnail is a preview of <strong>In-line Citations</strong> made by an author. The citations appear in the body of a paper, and make reference to other papers. More details about the cited papers would appear in a paper's <strong>References</strong> section.</p>
		<p>There are various styles to display in-line citations. The most common styles are:</p>
		<ul>
			<li>
				<div class="alert alert-info"><strong><i>< author names > [< number >]</i></strong></div>
				<p>
					To display authors' name, followed by an identifying number for the <strong>References</strong> section. This is the style used in our example.<p>Example:</p><i>...in the system described by <strong>John Doe [22]</strong>, it clearly states that...</i>
				</p>
			</li>

			<li>
				<div class="alert alert-info"><strong><i>(< author names >, < year of publication >)</i></strong></div>
				<p>To display authors' name, followed by the year of publication.<p>Example:</p><i>...in the system described by <strong>(J. Doe, 2011)</strong>, it clearly states that...</i>
			</p>
		</li>
	</ul>
</div><!-- /.span -->
<div class="span4">
	<p><strong>In-line citations</strong></p>
	<a href="./assets/citation.png" class="thumbnail" target="_blank">
		<%= image_tag "citation.png" %>
	</a>
	<p>
		<p>See original paper <a href="http://scholar.google.com.sg/citations?view_op=view_citation&hl=en&citation_for_view=aNVcd3EAAAAJ:u9iWguZQMMsC" target="_blank">here</a></p>
	</div><!-- /.span -->
	<div class="span4">
		<p><strong>References section</strong></p>
		<a href="./assets/citation2.png" class="thumbnail" target="_blank">
			<%= image_tag "citation2.png" %>
		</a>
		<p>
			<p>See original paper <a href="http://scholar.google.com.sg/citations?view_op=view_citation&hl=en&citation_for_view=aNVcd3EAAAAJ:u9iWguZQMMsC" target="_blank">here</a></p>
		</div><!-- /.span -->
	</div><!-- /.row -->

	<h2>What is a citing sentence?</h2>
	<p>
		You might already have a clue what is a citing sentence, we have already seen one in the examples. The <strong>citing sentence</strong> is/are the line(s) of words that contain the citation. For example in a part of a paper:
		<div class="alert alert-info">
			<p align="center">
				<i>...In this paper, we describe a system that will aid us in taking over the world. Previous works have all identified the key components needed for this task. In the system described by <strong>(J. Doe, 2011)</strong>, it clearly states that...</i>
			</p>
		</div>
	</p>
	<h2>What is cited information?</h2>
	<p>
		When an author cites another paper, his/her purpose must be to either refer to the cited paper as a whole, or refer to a particular piece of information in the cited paper. For example in the paper written by John Doe:
		<div class="alert alert-info">
			<p align="center">
				<i>...in order for a system to be successful in taking over the world, there are many components the system must have. <strong>Fundamentally, the system must have the ability to.........This enables us to...</strong></i>
			</p>
		</div>
		As you can see, the <strong>cited information</strong> is/are the line(s) of words that contain the most relevant information in relation to the citation made by the citing sentence.
		<p align="right">Go back to <a href="./home#TaskDesc">Task Description</a></p>