<header class="jumbotron subhead" id="overview">
	<h1>Classification</h1>
	<p class="lead">Classifying citations</p>
</header>
<p>For classifying citations, we adopt the procedures written in <i>Guidelines for Function Annotation of Citations</i> by Simone Teufel et. al. 2006. In the guideline, there are <strong>4 categories</strong> of citations. In each category, there are one or many sub-categories that are very specific in describing the function of the citation. The following are the brief explanations for each sub-category. For each sub-category, the <strong>tag</strong> used for annotations are highlighted like <code>this</code>.</p>
<div class="row">
	<div class="span3">
		<div class="alert alert-info">
			<h4>Weak</h4>
			1. <code>Weak</code> - describes weakness
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-success">
			<h4>Contrast or Comparison</h4>
			2. <code>CoCoGM</code> - Contrast/Comparison in Goals or Methods
			<br>
			3. <code>CoCoR0</code> - Neutral Contrast/Comparison in Results
			<br>
			4. <code>CoCo-</code> - Negative Contrast in Methods or Results
			<br>
			5. <code>CoCoXY</code> - Contrast between 2 cited methods
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-info">
			<h4>Positive/Useful</h4>
			6. <code>PBas</code> - Uses work as starting point
			<br>
			7. <code>PUse</code> - Uses tools algorithms/data/definitions etc
			<br>
			8. <code>PModi</code> - Adapts or modifies tools algorithms/data
			<br>
			9. <code>PMot</code> - Positive about approach or problem addressed (used to motivate paper)
			<br>
			10. <code>PSim</code> - Similar work
			<br>
			11. <code>PSup</code> - Compatible/Support
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-success">
			<h4>Neutral</h4>
			12. <code>Neut</code> - Neutral description of other work, or not enough textual evidence for other categories or, unlist citation function
		</div>
	</div>
</div>
<p align="right">Go back to <a href="./home#TaskDesc">Task Description</a></p>