<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
<h1>Contact</h1>
<p class="lead">We are researchers from the Web Information Retrieval / Natural Language Group, or <a href="http://wing.comp.nus.edu.sg/" target="_blank">WING</a>, of the National University of Singapore. This data gathering session is conducted as part of a research study related to the citations on scholarly research papers.</p>
</header>

<h2>The Project Team</h2>
<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Role</th>
<th>Name</th>
<th>Email Address</th>
</tr>
</thead>
<tbody>
<tr>
<td>
Principal Investigator / Project Leader
</td>
<td>
Assoc. Prof <a href="http://www.comp.nus.edu.sg/~kanmy/" target="_blank">Min-Yen Kan</a>
</td>
<td>
kanmy [at] comp.nus.edu.sg
</td>
</tr>
<tr>
<td>
Assistant
</td>
<td>
<a href="http://www.comp.nus.edu.sg/~taochen/" target="_blank">Chen Tao</a>
</td>
<td>
taochen [at] comp.nus.edu.sg
</td>
</tr>
<tr>
<td>
Assistant
</td>
<td>
<a href="http://about.me/lwheng" target="_blank">Heng Low Wee</a>
</td>
<td>
lwheng [at] nus.edu.sg
</td>
</tr>
</tbody>
</table>