<header class="jumbotron subhead" id="overview">
	<h1>Download <small>(Pilot)</small></h1>
	<p class="lead">To download all the working files you need to complete the annotation task.</p>
</header>
<h3>Download Links</h3>
<p>
	Each zip file contains a total of 11 files: 1 annotation working file + 10 text files. Use your favourite text editor (with line number display) to open these files.<br>
	If you are unable to open the annotation working file with your text editor, try adding the <strong>".txt"</strong> file extension to the end of the file name.<br>
	If you are using Microsoft Word, display line numbers by doing so: Layout / Page Layout -> Line Numbers -> Set to 'Continuous'
</p>
<div class="row">
	<div class="span4">
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/aa.zip">aa.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ab.zip">ab.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ac.zip">ac.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ad.zip">ad.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ae.zip">ae.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/af.zip">af.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ag.zip">ag.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ah.zip">ah.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ai.zip">ai.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/aj.zip">aj.zip</a><br>
	</div>
	<div class="span4">
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ak.zip">ak.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/al.zip">al.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/am.zip">am.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/an.zip">an.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ao.zip">ao.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ap.zip">ap.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/aq.zip">aq.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/ar.zip">ar.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/as.zip">as.zip</a><br>
		<a href="http://wing.comp.nus.edu.sg/~lwheng/zip/at.zip">at.zip</a><br>
	</div>
</div>
